<%- include('../partials/header') %>


<!-- TODO: - create logo img and add here
            - add bootstrap padding -->
<form id="search-form" action="/music" method="POST" class="pt-5 pb-5">
    <div class="mb-3">
        <label class="form-label fs-7">Search by artist or album...</label>
        <input type="text" class="form-control" name="artist">
    </div>
        <button type="submit" class="btn btn-primary">Search</button>
</form>

<div class="container pt-5">
    <h2 class="fs-6">Recently added:</h2>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <% music.forEach(function(m) { %>
            <div class="col">
                <div class="card h-100" style="width: 14rem;">
                    <img src="<%= m.image %>" alt="Album Artwork">
                    <div class="card-body">
                        <h5 class="card-title"><%= m.album %></h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary"><%= m.artist %></h6>
                        <p class="card-text"><%= m.releaseDate.month %> / <%= m.releaseDate.year %></p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="/music/<%= m._id %>" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<%- include('../partials/footer') %>
