<%- include('../partials/header') %>

<div class="card mb-3 mx-auto" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-5">
        <img src="<%= music.image %>" class="img-fluid rounded-start" alt="Album Artwork">
      </div>
      <div class="col-md-7">
        <div class="card-body">
          <h5 class="card-title"><%= music.album %></h5>
          <p class="card-text"><%= music.artist %></p>
          <p class="card-text"><small class="text-body-secondary"><%= music.releaseDate.month %> / <%= music.releaseDate.year %></small></p>
        </div>
        <div class=" card-footer text-center">
        <% if (user) { %>
          <a href="#" class="btn btn-secondary">Add to Collection</a>
        <% } else { %>
          <a href="/auth/google" class="btn btn-primary">Login to Add a Review</a>
          <% }; %>
        </div>
      </div>
    </div>
  </div>

<% if (user) { %>
<h2>Add a Review:</h2>
<form id="add-review-form" method="POST" action="/music/<%= music._id %>/reviews">
  <div class="row mb-3">
    <label for="review" class="col-sm-2 col-form-label">Review:</label>
    <div class="col-sm-10">
      <textarea class="form-control" id="review" name="content"></textarea>
    </div>
  </div>
  <div class="row mb-3">
      <label for="faveTrack" class="col-sm-2 col-form-label">Favourite track:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="faveTrack" name="faveTrack" required>
      </div>
  </div>
  <div class="row mb-3">
      <label class="col-sm-2 col-form-label">Rating:</label>
      <div class="col-sm-10">
        <select class="form-select" name="rating">
          <option value="1">💿</option>
          <option value="2">💿💿</option>
          <option value="3">💿💿💿</option>
          <option value="4">💿💿💿💿</option>
          <option value="5" selected>💿💿💿💿💿</option>
        </select>
      </div>
  </div>
  <button type="submit" class="btn btn-primary">Add review</button>
</form>
<% }; %>



<% if (music.reviews.length) { %>
  <h2>Reviews</h2>
  <table class="table align-middle">
    <thead>
      <tr>
        <th scope="col">User</th>
        <th scope="col">Review</th>
        <th scope="col">Favourite track</th>
        <th scope="col">Rating</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <% music.reviews.forEach(function (r) { %>
        <tr>
          <td class="review-user"><img src="<%= r.userAvatar %>" class="img-thumbnail" referrerpolicy="no-referrer" alt="avatar" width="70"></td>
          <td><%= r.content %></td>
          <td><%= r.faveTrack %></td>
          <td><%= r.rating %></td>
          <td>
            <% if (user?._id.equals(r.user)) { %>
              <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-secondary">X</button>
              </form>
            <% }%>
          </td>
        </tr>
     <% }); %>
     <% } else { %>
      <h5>No Reviews Yet</h5>
      <% } %>
    </tbody>
  </table>

<%- include('../partials/footer') %>
