<%- include('../partials/header') %>

<section id="show-page">
    <!-- TODO: if statement...
    if album or artist has been logged by a user, 
    display this list
    -->
    <div>
        <h2>Artist: </h2>
        <p><%= music.artist %></p>
    </div>
    <div>
        <h2>Album: </h2>
        <p><%= music.album %></p>
    </div>
    <div>
        <h2>Release Date: </h2>
        <p><%= music.releaseDate %></p>
    </div>
    <div>
        <img src="<%= music.image %>" alt="Album Artwork">
    </div>
    <!-- else, render a form and message which allows user to add that artist/album
    e.g. "It looks like you're the first person to view this album... click here to add it" 
    THIS MIGHT BE WRITTEN IN THE FUNCTION WITH A TRY AND CATCH-->


</section>

<%- include('../partials/footer') %>
